.gallery-posts {
    width: 95%;
    margin: 0 auto;
    display: grid;
    gap: 20px;
    justify-items: center;
    grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );
}

.gallery-post {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
}

.gallery-img-container {
    height: 100%;
    width: 100%;
    padding: 0px;
    margin: 0px;
}

.gallery-img {
    object-fit: cover;
    object-position: top;
    width: 100%;
    height: 100%;
}

.gallery-post-title {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    justify-content: center;
    width: 100%;
    z-index: 1;
    bottom: 1%;
    padding: 0;
    margin: 0;
    background-color: rgba(0, 0, 0, .6);
}