/*Color for header and footer*/
header,
footer {
    box-sizing: border-box; 
    background-color: #3d6d6d;
    height: 150px;
    width: 100%;
}

/*Background color for every page*/
main {
    background-color: #84b6a4;
    flex: 1;
    padding-bottom: 50px;
}

header, footer, body, h1, nav {
    display: flex;
    flex-wrap: wrap;
}

.logo {
    font-size: 2.3rem;
    position: absolute;
    left: 3%;
}

h1, h2, p, a, #form-submit-btn {
    color: white;
}

h2, p, form, a, #form-submit-btn, input[type="text"], input[type="email"], textarea {
    font-family: "Alata", sans-serif;
}

h2 {
    font-size: 1.5rem;
}

p, form, input[type="text"] input[type="email"], textarea {
    font-size: 1.1rem;
}

h1 {
    margin: 0 auto;
    margin-top: 50px;
    font-family: "Milonga", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 4rem;
}

body {
    flex-direction: column;
    min-height: 100vh;
    margin: 0px;
}

footer, h1 {
    flex-direction: column;
    text-align: center;
}

footer {
    justify-content: center;
}

a {
    text-decoration: none;
    font-size: 2rem;
}

nav {
    gap: 100px;
    margin: 0 auto;
    align-items: end;
    margin-bottom: 10px;
}

a:hover {
    color: #9acd32;
    font-size: 220%;
}

img {
    object-fit: cover;
    object-position: center;
}