.other-posts {
    display: block;
    flex-direction: column;
    width: 100%;
}

.post {
    display: flex;
    max-height: 650px;
    max-width: 1500px;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 auto;  
}

.post:nth-child(odd) {
    background-color: #1F7382;
}

.home-page-img-container {
    display: flex;
    margin: 10px;
}

.home-page-img {
    height: 300px;
    width: 500px;
    object-fit: cover;
    object-position: center;
}

.post-title {
    display: flex;
    flex-wrap: wrap;
}